<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siberianforest">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Сибирский лес"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivityContact"
            android:label="@string/title_activity_maps_contact"/>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".BasketActivity"
            android:label="@string/title_activity_basket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonActivity"
            android:label="@string/title_activity_person"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegActivity"
            android:label="@string/title_activity_reg"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProductCatalog"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>